swagger: '2.0'
info:
  description: This is part of Typetalk API.
  version: 1.0.0
  title: Typetalk API
  termsOfService: 'https://www.typetalk.com/'
  contact:
    url: 'https://www.typetalk.com/'
  license:
    name: Beer
host: typetalk.com
basePath: /api/v1
tags:
  - name: topics
schemes:
  - https
securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: 'https://typetalk.com/oauth2/access_token'
    flow: application
    scopes:
      'topic.read':  'トピック中のメッセージの取得'
      'topic.post':  'トピックにメッセージを投稿、メッセージにいいね！する'
      'topic.write':  'トピックの作成や更新'
      'topic.delete':  'トピックの削除'
      'my':  'トピック一覧、プロフィール、通知の取得、既読の更新'
  # XXX Swagger2.0では複数のOAuth2Flowに対応していない。OpenAPI Spec3.0では可能となる様子。
  # https://github.com/swagger-api/swagger-ui/issues/3696
  # oauth2AccessCode:
  #   type: oauth2
  #   authorizationUrl: 'https://typetalk.com/oauth2/authorize'
  #   flow: accessCode
  #   scopes:
  #     'topic.read':  'トピック中のメッセージの取得'
  #     'topic.post':  'トピックにメッセージを投稿、メッセージにいいね！する'
  #     'topic.write':  'トピックの作成や更新'
  #     'topic.delete':  'トピックの削除'
  #     'my':  'トピック一覧、プロフィール、通知の取得、既読の更新'
  typetalkToken:
    type: apiKey
    name: 'X-Typetalk-Token'
    in: header
paths:
  '/topics/{topicId}':
    post:
      tags:
        - topics
      summary: Add a new message to topic.
      description: ''
      operationId: postMessage
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: topicId
          in: path
          description: 'トピックID'
          type: integer
          format: int64
          required: true
        - name: message
          in: formData
          required: true
          type: string
          description: 投稿するメッセージ。最大 4000 文字
        - name: replyTo
          in: formData
          type: integer
          format: int64
          description: 返信先のpostId
        - name: showLinkMeta
          in: formData
          type: boolean
          description: メッセージに含まれるURLのOGP情報の表示設定。
          default: true
        - name: fileKeys
          in: formData
          type: array
          description: fileKeys[0] … fileKeys[4] (任意)  文字列  添付ファイルキー （添付ファイルのアップロード 参照）(最大5個まで）
          items:
            type: string
        - name: talkIds
          in: formData
          type: array
          description: talkIds[0] … talkIds[4] (任意)  数値  この投稿を追加したいまとめID (最大5個まで)
          items:
            type: integer
            format: int64
        # - name: attachments
        #   in: formData
        #   type: array
        #   description: >
        #     attachments[0].fileUrl … attachments[4].fileUrl (任意)  文字列  最大 5 個のファイル URL (最大ファイルサイズ: 10 MB)
        #     attachments[0].fileName … attachments[4].fileName (任意)  文字列  パラメーターがない場合は ‘fileUrl’ からファイル名が設定 (最大 5 個まで）
        #   items:
        #     # XXX Object definition.
        #     type: object
      responses:
        '200':
          description: Success.
          schema:
            type: object
      security:
        - typetalkToken: []
        - oauth2:
            - 'topic.read'
            - 'topic.post'
definitions:
